{% extends "base.html" %}
{% load static from staticfiles %}
{% load header_tags %}

        {% block slider %}
        {% endblock %}

        {% block header %}
            {% top_menu request %}
        {% endblock %}

{#        {% block body_sidebar %}#}
{#            views находится в core/tamplatetags#}
{#            {% coreLeftMenu request %}#}
{#        {% endblock %}#}

        {% block message %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block slider2 %}
        {% endblock %}

        {% block partners %}
        {% endblock %}

        {% block footer %}
            <div id="lms_footer">
              <div class="lms_footer_top">
                <div class="container">
                  <div class="row">
                      <div class="copyright">
                        <p>Copyright © 2015 Idoctor</p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
        {% endblock %}

