{% extends "base.html" %}
{% load static from staticfiles %}
{% load header_tags %}

        {% block slider %}
        {% endblock %}

        {% block header %}
{#            {% top_menu request %}#}
        {% endblock %}

{#        {% block body_sidebar %}#}
{#            views находится в core/tamplatetags#}
{#            {% coreLeftMenu request %}#}
{#        {% endblock %}#}

        {% block message %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block slider2 %}
        {% endblock %}

        {% block partners %}
        {% endblock %}

        {% block footer %}
            <footer class="main-footer no-print">
                <div class="pull-right hidden-xs">
                  <b>Version</b> 2.0
                </div>
                <strong>Copyright &copy; 2015 <a href="http://forward70.ru">Forward Studio</a>.</strong> All rights reserved.
            </footer>
        {% endblock %}

