{% load sitetree %}
<ul class="nav nav-pills nav-main" id="mainMenu">
    {% for item in sitetree_items %}


    		{% if item.has_children %}
          <li class="dropdown">
            <a
              class="dropdown-toggle"
              href="{% sitetree_url for item %}"
              {% if item.hint %}
                title="{{ item.hint }}"
              {% endif %}
              >
                {{ item.title_resolved }}
            </a>
      			{% sitetree_children of item for menu template "sitetree/menu_dropdown.html" %}
          </li>
    		{% else %}
          <li>
            <a
              class=""
              href="{% sitetree_url for item %}"
              {% if item.hint %}
                title="{{ item.hint }}"
              {% endif %}
              >
                {{ item.title_resolved }}
            </a>
          </li>
        {% endif %}


	{% endfor %}
</ul>
<div class="magazin">
  <a href="http://айдоктор.рф" target="_blank">Магазин запчастей</a>
</div>


<style>
.magazin{
  float: left;
}
.magazin a{
  color: #1D1D1D;
  font-size: 17px;
  line-height: 20px;
  margin-left: 15px;
  margin-right: 3px;
  margin-bottom: 8px;
  padding: 12px 13px 7px;
  border-bottom: 3px solid rgba(255,255,255,0);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  position: relative;
  display: block;
}
.magazin a:hover {
  border-bottom: 2px solid #1593d1;
}
@media (max-width: 991px){
  .magazin{
    float: none;
    margin-left: -15px;
    margin-bottom: 13px;
  }
  .magazin a{
    padding: 9px 8px;
    border: 0;
    border-top: 0;
    margin: 0;
    border-bottom: none!important;
    font-size: 21px;
    font-weight: 100;
    border-top: 1px solid #2a2a2a;  
  }
  .magazin a:hover{
    color: #1593d1;
  }
}
</style>


{#<ul>#}
{#	{% for item in sitetree_items %}#}
{#	<li>#}
{#        <a href="{% sitetree_url for item %}" {% if item.hint %}title="{{ item.hint }}"{% endif %} {% if item.is_current or item.in_current_branch %}class="{{ item.is_current|yesno:"current_item ," }}{{ item.in_current_branch|yesno:"current_branch," }}"{% endif %}>{{ item.title_resolved }}</a>#}
{#		{% if item.has_children %}#}
{#			{% sitetree_children of item for menu template "sitetree/menu.html" %}#}
{#		{% endif %}#}
{#	</li>#}
{#	{% endfor %}#}
{#</ul>#}
