{#{% load menu_tags %}#}
{% load static from staticfiles %}

<!--slider start-->
<div class="lms_slider">
    <div class="lms_revslider" >
        <ul>
            <!-- SLIDE 1 -->
            <li data-transition="random-premium" data-slotamount="5" data-masterspeed="700" >
            <!-- MAIN IMAGE -->
            <img src="{% static "idoctor/images/slider/slider1.jpg" %}"   alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
            <div class="lms_slider_overlay"></div>

            <!-- LAYERS -->
            <div class="tp-caption customin customout start third_layer_service"
                            data-x="500"
                            data-hoffset="0"
                            data-y="150"

                            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="1000"
                            data-start="500"
                            data-easing="Back.easeInOut"
                            data-endspeed="300">Модульный ремонт iPhone (замена)</div>



            <!-- LAYER NR. 2 -->
            <div class="tp-caption third_layer_service customin customout start"
                            data-x="center"
                            data-hoffset="0"
                            data-y="230"

                            data-customin="x:-50;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="1000"
                            data-start="900"
                            data-easing="Back.easeInOut"
                            data-endspeed="300">Замена кнопок, разъемов, динамиков, шлейфов<br/></div>
            </li>
            <!-- SLIDE 2 -->
            <li data-transition="random-premium" data-slotamount="5" data-masterspeed="700" >
            <!-- MAIN IMAGE -->
            <img src="{% static "idoctor/images/slider/slider3.jpg" %}"  alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
            <div class="lms_slider_overlay"></div>
            <!-- LAYERS NR. 1 -->
            <div class="tp-caption large_bold_white customin customout start"
						data-x="right"
						data-hoffset=""
						data-y="150"
						data-voffset=""

						data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:300;transformOrigin:50% 50%;"
						data-speed="1000"
						data-start="500"
						data-easing="Back.easeInOut"
						data-endspeed="300">Сложный ремонт с применением пайки</div>
            <!-- LAYER NR. 2 -->

            <!-- LAYERS NR. 5 -->
            <div class="tp-caption customin customout third_layer_service"
                            data-x="right"
                            data-hoffset=""
                            data-y="250"
                            data-voffset=""

                            data-customin="x:0;y:0;z:0;rotationX:180;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="2000"
                            data-start="800"
                            data-easing="Back.easeInOut"
                            data-endspeed="300">Замена микросхем</div>

            <!-- LAYERS NR. 6 -->
            <div class="tp-caption customin customout third_layer_service"
                            data-x="right"
                            data-hoffset=""
                            data-y="320"
                            data-voffset=""

                            data-customin="x:0;y:0;z:0;rotationX:180;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"

                            data-speed="2200"
                            data-start="860"
                            data-easing="Back.easeInOut"
                            data-endspeed="300">Контроллеров</div>

            <!-- LAYERS NR. 7 -->
            <div class="tp-caption customin customout third_layer_service"
                            data-x="right"
                            data-hoffset=""
                            data-y="390"
                            data-voffset=""

                            data-customin="x:0;y:0;z:0;rotationX:180;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="2400"
                            data-start="1000"
                            data-easing="Back.easeInOut"
                            data-endspeed="300">Контактных групп</div>


          </li>
        </ul>
        <div class="tp-bannertimer"></div>
    </div>
</div>
<!--slider end-->