{#{% load menu_tags %}#}
{% load static from staticfiles %}

{#<!--slider start-->#}
{# <div class="swiper-container">#}
{#        <div class="swiper-wrapper">#}
{#            {% for slide in slider %}#}
{#                <div class="swiper-slide"><img src="/media/{{ slide.image }}"   alt="{{ slide.name }}"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat"></div>#}
{#            {% endfor %}#}
{#        </div>#}
{#            <!-- Add Pagination -->#}
{#        <div class="swiper-pagination"></div>#}
{#        <!-- Add Arrows -->#}
{#        <div class="swiper-button-next"></div>#}
{#        <div class="swiper-button-prev"></div>#}
{#    </div>#}
{# </div>#}
{#<!--slider end-->#}


<div id="mainslider" class="owl-carousel">
  {% for slide in slider %}
    <div>
      <img src="/media/{{ slide.image }}"   alt="{{ slide.name }}">
      <div class="slider_text_wrap">
        <div class="container">
          <div class="slider_text">
            <div class="name">{{ slide.name }}</div>
            <div class="description">{{ slide.description|safe }}</div>
            <div class="zakaz_zvonok_wrap">
              <a href="#" class="btn zakaz_zvonok"  data-toggle="modal"  data-target="#zakaz_zvonokModal">Заказать звонок</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>




<!-- Modal -->
<div class="modal fade" id="zakaz_zvonokModal" tabindex="-1" role="dialog" aria-labelledby="zakaz_zvonokModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="zakaz_zvonokModalLabel">Заказать обратный звонок</h4>
      </div>
      <div class="modal-body">
        <iframe id="review_form" name="review_form" frameborder="0" src="/zakaz_zvonok_form"></iframe>
      </div>
    </div>
  </div>
</div>
<!-- /.modal -->
