{% extends "main.html" %}
{% load static from staticfiles %}
{% load header_tags %}
{% load sitetree %}


{% block slider %}
{% endblock %}

{% block content %}
<div class="container">

    <div class="row">
    <!--blog single page start-->

        <div class="col-lg-12 col-md-12 col-sm-12 prase_categ">
            {% for price in prices %}
                <div class="prase_bloc_categ col-lg-3 col-md-3 col-sm-3">
                    <img src="{{ price.image_url }}" alt=""/>
                    <a href="{{ price.url }}"><h3>{{ price.name }}</h3></a>
                </div>
            {% endfor %}
        </div>
        <!--blog single page end-->

        <!--sidebar start-->
{#        <div class="col-lg-4 col-md-4 col-sm-5">#}
{#          <div class="lms_sidebar_item">#}
{#            <h3>Категории</h3>#}
{#            <div class="lms_sidebar_category">#}
{#              <ul>#}
{#                <li><a href="blog-right-sidebar.html"><i class="fa fa-angle-right"></i> Game Design</a></li>#}
{#                <li><a href="blog-right-sidebar.html"><i class="fa fa-angle-right"></i> Materials</a></li>#}
{#                <li><a href="blog-right-sidebar.html"><i class="fa fa-angle-right"></i> Modeling</a></li>#}
{#                <li><a href="blog-right-sidebar.html"><i class="fa fa-angle-right"></i> Particles</a></li>#}
{#                <li><a href="blog-right-sidebar.html"><i class="fa fa-angle-right"></i> Product Design</a></li>#}
{#                <li><a href="blog-right-sidebar.html"><i class="fa fa-angle-right"></i> Visual Effects</a></li>#}
{#                <li><a href="blog-right-sidebar.html"><i class="fa fa-angle-right"></i> View all</a></li>#}
{#              </ul>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
    <!--sidebar end-->
  </div>
</div>


{% if c.description %}
  <div class="cat_description">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{ c.description|safe }}
        </div>
      </div>
    </div>
  </div>
{% endif %}



{% endblock %}

{% block slider2 %}
{% endblock %}

{% block partners %}
{% endblock %}