{% extends "main.html" %}
{% load static from staticfiles %}
{% load header_tags %}
{% load sitetree %}


{% block slider %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
    <!--blog single page start-->

        <div class="col-lg-12 col-md-12 col-sm-12 prise_page">
            <div>
                <h3>{{ price.name }}</h3>
                <p>{{ price.description | safe }}</p>
            </div>
        </div>
        <!--blog single page end-->

        <div class="col-sm-12">
            <div class="prices">
              {% for price in prices2 %} 
                <a href="/price/{{ price.slug }}">{{ price.name }}</a>
              {% endfor %}
            </div>
        </div>



        <!--sidebar start-->
{#        <div class="col-lg-4 col-md-4 col-sm-5">#}
{#          <div class="lms_sidebar_item">#}
{#            <h3>Категории</h3>#}
{#            <div class="lms_sidebar_category">#}
{#              <ul>#}
{#                <li><a href="blog-right-sidebar.html"><i class="fa fa-angle-right"></i> Game Design</a></li>#}
{#                <li><a href="blog-right-sidebar.html"><i class="fa fa-angle-right"></i> Materials</a></li>#}
{#                <li><a href="blog-right-sidebar.html"><i class="fa fa-angle-right"></i> Modeling</a></li>#}
{#                <li><a href="blog-right-sidebar.html"><i class="fa fa-angle-right"></i> Particles</a></li>#}
{#                <li><a href="blog-right-sidebar.html"><i class="fa fa-angle-right"></i> Product Design</a></li>#}
{#                <li><a href="blog-right-sidebar.html"><i class="fa fa-angle-right"></i> Visual Effects</a></li>#}
{#                <li><a href="blog-right-sidebar.html"><i class="fa fa-angle-right"></i> View all</a></li>#}
{#              </ul>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
    <!--sidebar end-->
  </div>
</div>

{% endblock %}

{% block slider2 %}
{% endblock %}

{% block partners %}
{% endblock %}