{% extends "main.html" %}
{% load static from staticfiles %}
{% load header_tags %}


{% block slider %}
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="lms_title_center">
                <div class="lms_heading_1">
                  <h2 class="lms_heading_title">iDoctor - страничка о нас</h2>
                </div>
                <p>Нам очень приятно что из множества компаний Вы обратили внимание на нас! Наша цель - помочь Вам в любом, даже самом сложном, случае!</p>
            </div>
        </div>
    </div>
    <div class="row">
   	  <div class="col-lg-4 col-md-4 col-sm-4">
      	<div class="lms_service_3">
            	<div class="lms_service_icon"><img src={% static "idoctor/images/services/services1.png" %} alt="service icon"></div>
                <a href="about.html"><h3 class="lms_service_title">Старанье и труд - все отремонтируют</h3></a>
                <p>Lorem ipsum dolor sit amet, consectetur adDonec idiam dapibus, sodales odio quis, fgilla maurisorci. Nullam vel laoreet dui. Sed blandit quis sapien sed, </p>
            </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4">
      	<div class="lms_service_3">
            	<div class="lms_service_icon"><img src={% static "idoctor/images/services/services2.png" %} alt="service icon"></div>
                <a href="about.html"><h3 class="lms_service_title">Бесплатная косультация</h3></a>
                <p>Lorem ipsum dolor sit amet, consectetur adDonec idiam dapibus, sodales odio quis, fgilla maurisorci. Nullam vel laoreet dui. Sed blandit quis sapien sed, </p>
            </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4">
      	<div class="lms_service_3">
            	<div class="lms_service_icon"><img src={% static "idoctor/images/services/services3.png" %} alt="service icon"></div>
                <a href="about.html"><h3 class="lms_service_title">Свободный контроль процесса</h3></a>
                <p>Lorem ipsum dolor sit amet, consectetur adDonec idiam dapibus, sodales odio quis, fgilla maurisorci. Nullam vel laoreet dui. Sed blandit quis sapien sed, </p>
            </div>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="lms_title_center">
                <div class="lms_heading_1">
                  <h2 class="lms_heading_title">Наша команда</h2>
                </div>
                <p>Наши специалисты работают с техникой Apple больше 4 лет! Мы знаем о всех нюансах, необходимых для ремонта Вашего любимого устройства!</p>
            </div>
        </div>
    </div>
    <div class="row">
   	  <div class="col-lg-4 col-md-4 col-sm-4">
      	  <div class="lms_recent_achievement">
          	  <img src="{% static "idoctor/images/courses/courses_small_1.jpg" %}">
              <h3>Бвстрый ремонт</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas augue ac nisi pharegittis.</p>
          </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4">
      	  <div class="lms_recent_achievement">
          	  <img src="{% static "idoctor/images/courses/courses_small_3.jpg" %}" alt="recent">
              <h3>Ремонт общего характера</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas augue ac nisi pharegittis.</p>
          </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4">
      	  <div class="lms_recent_achievement">
          	  <img src="{% static "idoctor/images/courses/courses_small_2.jpg" %}" alt="recent achievement">
              <h3>Сложный ремонт техники</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas augue ac nisi pharegittis.</p>
          </div>
      </div>
   </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="lms_our_success">
    	<div class="lms_our_success_bg" data-stellar-background-ratio="0.5" style="background-position: 0% 120px;">
        <div class="lms_our_success_bg_overlay">
        	<div class="container">
               <!--Our Success in Numbers start-->
               <div class="row">
                   <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <div class="lms_our_success_title wow fadeInDown animated" style="visibility: visible;">
                   	  <h3>Наши успехи в цифрах</h3>
                      <p>478 счастливых пользователей</p>
                    </div>
                   </div>
               </div>

               <div class="row">
               	<div class="col-lg-3 col-md-3 col-sm-3 wow fadeInLeft animated" style="visibility: visible;">
                	<div class="lms_count">
                    	<i class="fa fa-user"></i>
                    	<div class="lms_progress_value count appear-count" data-from="0" data-to="793" data-speed="1000" data-refresh-interval="50">793</div>
                   <p class="lms_progess_label"> кв. см. сенсорных дисплеев </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 wow fadeInDown animated" style="visibility: visible;">
                	<div class="lms_count">
                    	<i class="fa fa-book"></i>
                    	<div class="lms_progress_value count appear-count" data-from="0" data-to="1048" data-speed="1000" data-refresh-interval="50">1048</div>
                   <p class="lms_progess_label"> TB спсенной информации </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 wow fadeInDown animated" style="visibility: visible;">
                	<div class="lms_count">
                    	<i class="fa fa-male"></i>
                    	<div class="lms_progress_value count appear-count" data-from="0" data-to="30866" data-speed="2000" data-refresh-interval="50">30866</div>
                   <p class="lms_progess_label"> спасенных часов пользования </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 wow fadeInRight animated" style="visibility: visible;">
                	<div class="lms_count">
                    	<i class="fa fa-graduation-cap"></i>
                    	<div class="lms_progress_value count appear-count" data-from="0" data-to="347" data-speed="1000" data-refresh-interval="50">347</div>
                   <p class="lms_progess_label"> Довольных клиентов </p>
                    </div>
                </div>
               </div>

               <!--Our Success in Numbers end-->
            </div>
        </div>
       </div>
    </div>
  </div>
</div>
<div class="container">
	<div class="row">
    	<div class="col-lg-8 col-lg-offset-2">
          <div class="lms_title_center">
            <div class="lms_heading_1">
              <h2 class="lms_heading_title">Контакты</h2>
            </div>
            <p>Подробнее о том как нас найти, Вы можете прочитать на странице контактов! Мы рады быть Вам полезными!</p>
          </div>
        </div>
    </div>
</div>

{% endblock %}

{% block slider2 %}
{% endblock %}

{% block partners %}
{% endblock %}