{% extends "main.html" %}
{% load static from staticfiles %}
{% load header_tags %}


{% block slider %}
{% endblock %}


{% block content %}
    <!--main container start-->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="lms_title_center">
        <div class="lms_heading_1">
          <h2 class="lms_heading_title">Интересное из мира технологий</h2>
        </div>
        <p>"Технологии опережают нас минимум на 2 шага, и то, только те, которые мы уже используем" <br/><small style="font-size: 13px;"> - Неизвестный автор</small></p>
      </div>
    </div>
  </div>

  <div class="row">
{#    <div class="col-lg-3 col-md-3 col-sm-3">#}
{#      <div class="lms_cource_shorting">#}
{#        <div class="lms_sortby">#}
{#          <h3>Sort By</h3>#}
{#          <div class="input-group">#}
{#            <select class="form-control">#}
{#              <option value="Newest courses">Newest courses</option>#}
{#              <option value="Recommend for you">Recommend for you</option>#}
{#              <option value="Top courses">Top courses</option>#}
{#            </select>#}
{#            <div class="input-group-addon"><i class="fa fa-angle-down"></i></div>#}
{#          </div>#}
{#        </div>#}
{##}
{#        <div class="lms_sort_skill_level">#}
{#          <h3>Skill Level</h3>#}
{#          <ul>#}
{#            <li><a href="course-detail-list-view.html">Beginner</a><span>(10)</span></li>#}
{#            <li><a href="course-detail-list-view.html">Intermediate</a><span>(31)</span></li>#}
{#            <li><a href="course-detail-list-view.html">Advanced</a><span>(3)</span></li>#}
{#            <li><a href="course-detail-list-view.html">Appropriate for all</a><span>(2)</span></li>#}
{#          </ul>#}
{#        </div>#}
{##}
{#      </div>#}
{#    </div>#}

    <div class="col-lg-12 col-md-12 col-sm-12">
    	<div class="lms_grid_list_icon">
        	<a class="active lms_list_view"><i class="fa fa-list"></i></a>
            <a class="lms_grid_view"><i class="fa fa-th"></i></a>
        </div>

        <div class="lms_cource">

            {% for article in articles %}
                <div class="lms_cource_list">
                    <img src="/media/{{ article.image }}" alt="" />
                    <a href="{{ article.url }}"><h3>{{ article.name }}</h3></a>
                    <p>{{ article.description|truncatewords:30|safe }}</p>
                    <div class="lms_entry_meta">
                       <span><a href="course-detail-list-view.html"><i class="fa fa-calendar"></i> 30 May 2014</a></span>
                    </div>
                    <a href="{{ article.url }}" class="btn btn-default">Подробне</a>
                </div>
            {% endfor %}

        </div>


    </div>

  </div>
</div>
{% endblock %}

{% block slider2 %}
{% endblock %}

{% block partners %}
{% endblock %}