{% extends "main.html" %}
{% load static from staticfiles %}
{% load header_tags %}


{% block slider %}
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="lms_title_center">
                <div class="lms_heading_1">
                  <h2 class="lms_heading_title">Ответы почти на все вопросы</h2>
                </div>
                <p>В любой момент Вы можете обратиться к этому разделу для получения ответов на самые распространенные вопросы</p>
            </div>
        </div>
    </div>
    <div class="row">
  	<div class="col-lg-12">
      <div class="panel-group" id="accordion">

          {% for faq in faqs %}
            <div class="panel panel-default">
              <div class="panel-heading {% if forloop.counter == 1 %}active{% endif %}">
                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}"><i class="fa fa-angle-up"></i>Q: {{ faq.name }}</a> </h4>
              </div>
              <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse {% if forloop.counter == 1 %}in{% endif %}">
                <div class="panel-body">{{ faq.description|safe }}</div>
              </div>
            </div>
          {% endfor %}

      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block slider2 %}
{% endblock %}

{% block partners %}
{% endblock %}