{% extends "main.html" %}
{% load static from staticfiles %}
{% load header_tags %}


{% block slider %}
    {% slider_tag request %}
{% endblock %}


{% block content %}
    <div class="container">

        <!--Our Best Services start-->
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="lms_title_center">
            <div class="lms_heading_1">
              <h2 class="lms_heading_title">Сервесный центр Idoctor</h2>
            </div>
            <p>Мы не калечим, мы лечим </p>
          </div>
        </div>
      </div>

    <div class="row">
    {% for service in services %}
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="lms_service_1">
            <div class="lms_service_icon"><img src="{{ service.get_icon }}" alt="service icon"/></div>
            <a href="{{ service.get_url }}">
            <h3 class="lms_service_title">{{ service.name }}</h3>
            </a>
            <p>{{ service.description }}</p>
          </div>
        </div>
    {% endfor %}
    </div>




  <!--Our Best Services end-->

      <!--Our Popular Courses start-->
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="lms_title_center">
            <div class="lms_heading_1">
              <h2 class="lms_heading_title">Our Popular Courses</h2>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="lms_popular_courses">
            <div id="lms_popular_courses_slider" class="owl-carousel owl-theme">
              <div class="lms_popular_courses_slider_item">
                <div class="lms_popular_courses_item">
                  <div class="lms_hover_section"> <img src="images/courses/courses_small_1.jpg" alt="" />
                    <div class="lms_hover_overlay"> <a id="1" class="lms_image_link"></a> </div>
                  </div>
                  <h3>Multimedia</h3>
                  <p>Lorem ipsum dolor sit amet</p>
                </div>
                <div class="lms_popular_courses_item">
                  <div class="lms_hover_section"> <img src="images/courses/courses_small_2.jpg" alt="" />
                    <div class="lms_hover_overlay"> <a id="2" class="lms_image_link"></a> </div>
                  </div>
                  <h3>Information Technology</h3>
                  <p>Lorem ipsum dolor sit amet</p>
                </div>
              </div>
              <div class="lms_popular_courses_slider_item">
                <div class="lms_popular_courses_item">
                  <div class="lms_hover_section"> <img src="images/courses/courses_small_3.jpg" alt="" />
                    <div class="lms_hover_overlay"><a id="3" class="lms_image_link"></a></div>
                  </div>
                  <h3>Design</h3>
                  <p>Lorem ipsum dolor sit amet</p>
                </div>
                <div class="lms_popular_courses_item">
                  <div class="lms_hover_section"> <img src="images/courses/courses_small_4.jpg" alt="" />
                    <div class="lms_hover_overlay"><a id="4" class="lms_image_link"></a></div>
                  </div>
                  <h3>Beauty & Health Care</h3>
                  <p>Lorem ipsum dolor sit amet</p>
                </div>
              </div>
              <div class="lms_popular_courses_slider_item">
                <div class="lms_popular_courses_item">
                  <div class="lms_hover_section"> <img src="images/courses/courses_small_1.jpg" alt="" />
                    <div class="lms_hover_overlay"><a id="5" class="lms_image_link"></a></div>
                  </div>
                  <h3>Multimedia</h3>
                  <p>Lorem ipsum dolor sit amet</p>
                </div>
                <div class="lms_popular_courses_item">
                  <div class="lms_hover_section"> <img src="images/courses/courses_small_2.jpg" alt="" />
                    <div class="lms_hover_overlay"><a id="6" class="lms_image_link"></a></div>
                  </div>
                  <h3>Information Technology</h3>
                  <p>Lorem ipsum dolor sit amet</p>
                </div>
              </div>
            </div>
            <div class="customNavigation"> <a class="lms_prev_next prev"><i class="fa fa-angle-left"></i></a> <a class="lms_prev_next next"><i class="fa fa-angle-right"></i></a> <a class="lms_prev_next">+</a> </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="lms_popular_courses_item_detail" id="courses_item_detail1"> <img src="images/courses/courses_big_1.jpg" alt="" />
            <h3>Multimedia</h3>
            <p>Suspendisse posuere consectetur sodales. Etiam faucibus rhoncus nunc et pretium. Praesent tortor massa, malesuada sed ornare in, dignissim adipiscing felis. Donec eget hendrerit magna, mollis ultrices lacus. </p>
            <a href="course-detail-list-view.html" class="btn btn-default">Read More</a>
            <div class="lms_social">
              <h4>Share This Course</h4>
              <ul>
                <li><a href="index.html" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="index.html" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="index.html" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="index.html" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="lms_popular_courses_item_detail" id="courses_item_detail2"> <img src="images/courses/courses_big_2.jpg" alt="" />
            <h3>Information Technology</h3>
            <p>Suspendisse posuere consectetur sodales. Etiam faucibus rhoncus nunc et pretium. Praesent tortor massa, malesuada sed ornare in, dignissim adipiscing felis. Donec eget hendrerit magna, mollis ultrices lacus. </p>
            <a href="course-detail-list-view.html" class="btn btn-default">Read More</a>
            <div class="lms_social">
              <h4>Share This Course</h4>
              <ul>
                <li><a href="index.html" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="index.html" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="index.html" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="index.html" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="lms_popular_courses_item_detail" id="courses_item_detail3"> <img src="images/courses/courses_big_3.jpg" alt="" />
            <h3>Design</h3>
            <p>Suspendisse posuere consectetur sodales. Etiam faucibus rhoncus nunc et pretium. Praesent tortor massa, malesuada sed ornare in, dignissim adipiscing felis. Donec eget hendrerit magna, mollis ultrices lacus. </p>
            <a href="course-detail-list-view.html" class="btn btn-default">Read More</a>
            <div class="lms_social">
              <h4>Share This Course</h4>
              <ul>
                <li><a href="index.html" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="index.html" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="index.html" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="index.html" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="lms_popular_courses_item_detail" id="courses_item_detail4"> <img src="images/courses/courses_big_4.jpg" alt="" />
            <h3>Beauty & Health Care</h3>
            <p>Suspendisse posuere consectetur sodales. Etiam faucibus rhoncus nunc et pretium. Praesent tortor massa, malesuada sed ornare in, dignissim adipiscing felis. Donec eget hendrerit magna, mollis ultrices lacus. </p>
            <a href="course-detail-list-view.html" class="btn btn-default">Read More</a>
            <div class="lms_social">
              <h4>Share This Course</h4>
              <ul>
                <li><a href="index.html" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="index.html" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="index.html" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="index.html" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="lms_popular_courses_item_detail" id="courses_item_detail5"> <img src="images/courses/courses_big_1.jpg" alt="" />
            <h3>Multimedia</h3>
            <p>Suspendisse posuere consectetur sodales. Etiam faucibus rhoncus nunc et pretium. Praesent tortor massa, malesuada sed ornare in, dignissim adipiscing felis. Donec eget hendrerit magna, mollis ultrices lacus. </p>
            <a href="course-detail-list-view.html" class="btn btn-default">Read More</a>
            <div class="lms_social">
              <h4>Share This Course</h4>
              <ul>
                <li><a href="index.html" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="index.html" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="index.html" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="index.html" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="lms_popular_courses_item_detail" id="courses_item_detail6"> <img src="images/courses/courses_big_2.jpg" alt="" />
            <h3>Information Technology</h3>
            <p>Suspendisse posuere consectetur sodales. Etiam faucibus rhoncus nunc et pretium. Praesent tortor massa, malesuada sed ornare in, dignissim adipiscing felis. Donec eget hendrerit magna, mollis ultrices lacus. </p>
            <a href="course-detail-list-view.html" class="btn btn-default">Read More</a>
            <div class="lms_social">
              <h4>Share This Course</h4>
              <ul>
                <li><a href="index.html" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="index.html" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="index.html" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="index.html" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--Our Popular Courses end-->

      <!--Our Top Experts Team start-->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="lms_title_center">
                    <div class="lms_heading_1">
                    <h2 class="lms_heading_title">Мы ценим ваше время</h2>
                    </div>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
        </div>
      <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="lms_experts_team_image" id="lms_experts_team_image11">
                    <img class="img-responsive" src= "{% static "idoctor/images/remont_iphone_6.jpg" %}"  alt="iphon" />
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="lms_experts_team_detail" id="lms_experts_team_detail11">
                    <ul class="repair__list">
                        <li class="fa fa-check-circle-o"></li><p><span>Скорость.</span> Большинство ремонтов мы выполняем в течение часа. На сложные ремонты нам нужно не более 5 дней.</p>
                        <li class="fa fa-check-circle-o"></li><span>Качество.</span> Все наши инженеры прошли подготовку по программе Apple Technician и имеют необходимые сертификаты.</p>
                        <li class="fa fa-check-circle-o"></li><p><span>Надежность.</span> На все ремонты распространяется гарантия. Вы всегда знаете к кому обратится.</p>
                        <li class="fa fa-check-circle-o"></li><p><span>Дружелюбность.</span> Мы любим наших клиентов, вы всегда сможете уточнить любой вопрос у наших сотрудников. А во время ремонта вашего устроуства вам предложат вкусного кофя</p>
                        <li class="fa fa-check-circle-o"></li><p><span>Оригинальные запчасти.</span> Ваш iPhone будет работать долго и надежно.</p>
                    </ul>
                </div>
            </div>
      </div>

      <!--Our Top Experts Team end-->

    </div>
{% endblock %}

{% block slider2 %}
    <div class="container-fluid">
      <!--Testimonials start-->
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="lms_title_center">
            <div class="lms_heading_1">
              <h2 class="lms_heading_title">Отзывы</h2>
            </div>
            <p>Благодарные клиенты говорят</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="lms_testimonials_bg" data-stellar-background-ratio="0.5">
          <div class="lms_testimonials_bg2">
            <div class="container">
              <div class="lms_testimonials wow bounce">
                <div id="lms_testimonials_slider" class="owl-carousel owl-theme">
                  <div class="lms_testimonials_slider_item">
                    <p class="lms_testimonial_quote">"</p>
                    <p class="lms_testimonials_txt">Suspendisse posuere consectetur sodales. Etiam faucibus rhoncus nunc et pretium. Praesent tortor massa,
                      malesuada sed ornare in, dignissim adipiscing felis. Donec eget hendrerit magna,</p>
                    <img src="images/testimonial/testimonial1.png" alt="Testimonials" />
                    <h4>Olivia Liam</h4>
                  </div>
                  <div class="lms_testimonials_slider_item">
                    <p class="lms_testimonial_quote">"</p>
                    <p class="lms_testimonials_txt">Suspendisse posuere consectetur sodales. Etiam faucibus rhoncus nunc et pretium. Praesent tortor massa,
                      malesuada sed ornare in, dignissim adipiscing felis. Donec eget hendrerit magna,</p>
                    <img src="images/testimonial/testimonial2.jpg" alt="Testimonials" />
                    <h4>Noaln jude</h4>
                  </div>
                  <div class="lms_testimonials_slider_item">
                    <p class="lms_testimonial_quote">"</p>
                    <p class="lms_testimonials_txt">Suspendisse posuere consectetur sodales. Etiam faucibus rhoncus nunc et pretium. Praesent tortor massa,
                      malesuada sed ornare in, dignissim adipiscing felis. Donec eget hendrerit magna,</p>
                    <img src="images/testimonial/testimonial1.png" alt="Testimonials" />
                    <h4>Olivia Liam</h4>
                  </div>
                </div>
                <div class="customNavigation"> <a class="lms_prev_next prev"><i class="fa fa-angle-left"></i></a> <a class="lms_prev_next next"><i class="fa fa-angle-right"></i></a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Testimonials end-->
    </div>
{% endblock %}

{% block partners %}
    <!--Our Partners start-->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="lms_title_center">
            <div class="lms_heading_1">
              <h2 class="lms_heading_title">Our Partners</h2>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="lms_our_partner">
            <div id="lms_our_partner_slider" class="owl-carousel owl-theme">
              <div class="lms_our_partner_slider_item">
                <div class="lms_our_partner_item"> <img src="images/partner/partner1.png" alt="partner" />
                  <hr/>
                  <p class="quote">"</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Integer et commodo metus. Praesent quis risus
                    blandit, aliquam diam non, facilisis magna. </p>
                  <p class="quote">"</p>
                </div>
              </div>
              <div class="lms_our_partner_slider_item">
                <div class="lms_our_partner_item"> <img src="images/partner/partner2.png" alt="partner" />
                  <hr/>
                  <p class="quote">"</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Integer et commodo metus. Praesent quis risus
                    blandit, aliquam diam non, facilisis magna. </p>
                  <p class="quote">"</p>
                </div>
              </div>
              <div class="lms_our_partner_slider_item">
                <div class="lms_our_partner_item"> <img src="images/partner/partner3.png" alt="partner" />
                  <hr/>
                  <p class="quote">"</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Integer et commodo metus. Praesent quis risus
                    blandit, aliquam diam non, facilisis magna. </p>
                  <p class="quote">"</p>
                </div>
              </div>
              <div class="lms_our_partner_slider_item">
                <div class="lms_our_partner_item"> <img src="images/partner/partner1.png" alt="partner" />
                  <hr/>
                  <p class="quote">"</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Integer et commodo metus. Praesent quis risus
                    blandit, aliquam diam non, facilisis magna. </p>
                  <p class="quote">"</p>
                </div>
              </div>
            </div>
            <div class="customNavigation"> <a class="lms_prev_next prev"><i class="fa fa-angle-left"></i></a> <a class="lms_prev_next next"><i class="fa fa-angle-right"></i></a> </div>
          </div>
        </div>
      </div>
    </div>
    <!--Our Partners end-->
{% endblock %}