{% extends "main.html" %}
{% load static from staticfiles %}
{% load header_tags %}
{% load sitetree %}


{% block slider %}
    {% slider_tag request %}
{% endblock %}

{% block header %}
{#            {% top_menu request %}#}
    <header id="lms_header">
        <div class="container">
            <h1 class="logo"> <a href="index.html"> <img alt="Porto" width="184" data-sticky-width="82" data-sticky-height="40" src="{% static "idoctor/images/logo.png" %}"> </a> </h1>
            <button class="lms_menu_toggle btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse"><i class="fa fa-bars"></i> </button>
        </div>
        <div class="navbar-collapse nav-main-collapse collapse">
            <div class="container">
                <nav class="nav-main mega-menu">
                    <div class="phone_cont"><i class="fa fa-phone"></i>332277<i class="fa fa-map-marker"></i>г. Томск пер. 1905 г. 18, оф. 3</div>
                    {% sitetree_menu from "maintree" include 'trunk' %}
                </nav>
              <div class="lms_search_toggle btn btn-primary"><a>Статус заказа</a></div>
              <div class="lms_search_wrapper">
                  <div style=" text-align: center; padding-bottom: 10px; ">Формат ввода номера +7 </div>
                  <div id="remonline-widget" data-ro-key="868ad583e39616096abe89d473953a37"></div>
              </div>
            </div>
        </div>
    </header>

{% endblock %}

{% block content %}
    <div class="container">

          <!--Prices-->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="lms_title_center">
                    <div class="lms_heading_1">
                        <h2 class="lms_heading_title">Стоимость ремонта</h2>
                    </div>
                    <p>Выберите устройство</p>
                </div>
            </div>
        </div>


        <div class="row prise_im_block">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-md-3 col-md-6 prise_im">
                    <a href="/category/iphone"><img  src="{% static "idoctor/images/iphone_6.png" %}">
                    <h3>iPhone</h3></a>
                </div>

                <div class="col-md-3 col-md-6 prise_im">
                    <a href="/category/ipod"><img  src="{% static "idoctor/images/ipod.jpg" %}">
                    <h3>iPod</h3></a>
                </div>

                <div class="col-md-3 col-md-6 prise_im">
                    <a href="/category/ipad"><img  src="{% static "idoctor/images/ipad.png" %}">
                    <h3>iPad</h3></a>
                </div>

                 <div class="col-md-3 col-md-6 prise_im">
                    <a href="/category/macbook"><img  src="{% static "idoctor/images/macBook.png" %}">
                    <h3>Macbook</h3></a>
                </div>
            </div>
        </div>
    </div>




    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="lms_title_center">
            <div class="lms_heading_1">
              <h2 class="lms_heading_title">Сервесный центр iDoctor</h2>
            </div>
            <p>Мы не калечим, мы лечим </p>
          </div>
        </div>
      </div>
    </div>
 <div class="block_uslug">
    <div class="container">
        <div class="row">
        {% for service in services %}
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="lms_service_1">
                <div class="lms_service_icon"><img src="{{ service.get_icon }}" alt="service icon"/></div>
                <a href="{{ service.get_url }}">
                <h3 class="lms_service_title">{{ service.name }}</h3>
                </a>
                <p>{{ service.description|safe }}</p>
              </div>
            </div>
        {% endfor %}
        </div>
    </div>
 </div>
  <!--Our Best Services end-->

      <!--Our Popular Courses start-->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="lms_title_center">
            <div class="lms_heading_1">
              <h2 class="lms_heading_title">Полезная информация</h2>
            </div>
            <p>Есть проблемы, которые вы можите решить сомостоятельно. </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="lms_popular_courses">
                <div id="lms_popular_courses_slider" class="owl-carousel owl-theme">

                    {% for article in articles %}
                        {% cycle 'first' 'second' as side silent %}
                        {% if side == 'first' %}
                            <div class="lms_popular_courses_slider_item">
                                <div class="lms_popular_courses_item">
                                    <div class="lms_hover_section"> <img width="263" height="176" src="/media/{{ article.image }}" alt="" />
                                        <div class="lms_hover_overlay"> <a id="{{ forloop.counter }}" class="lms_image_link"></a> </div>
                                    </div>
                                    <h3>{{ article.name|truncatewords:6 }}</h3>
                                    <p>{{ article.description|truncatewords:8|safe }}</p>
                                </div>
                        {% else %}
                                <div class="lms_popular_courses_item">
                                    <div class="lms_hover_section"> <img width="263" height="176" src="/media/{{ article.image }}" alt="" />
                                        <div class="lms_hover_overlay"> <a id="{{ forloop.counter }}" class="lms_image_link"></a> </div>
                                    </div>
                                    <h3>{{ article.name|truncatewords:6 }}</h3>
                                    <p>{{ article.description|truncatewords:8|safe }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
                <div class="customNavigation"> <a class="lms_prev_next prev"><i class="fa fa-angle-left"></i></a> <a class="lms_prev_next next"><i class="fa fa-angle-right"></i></a> <a class="lms_prev_next">+</a> </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">

            {% for article in articles %}
                <div class="lms_popular_courses_item_detail" id="courses_item_detail{{ forloop.counter }}"> <img width="100%" src="/media/{{ article.image }}" alt="" />
                    <h3>{{ article.name|safe }}</h3>
                    <p>{{ article.description|truncatewords:20|safe }}</p>
                    <a href="{{ article.url }}" class="btn btn-default">Подробнее</a>
                </div>
            {% endfor %}

        </div>
      </div>
    </div>
      <!--Our Popular Courses end-->

{% endblock %}

{% block slider2 %}
    <div class="container-fluid">
      <!--Testimonials start-->
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="lms_title_center">
            <div class="lms_heading_1">
              <h2 class="lms_heading_title">Отзывы</h2>
            </div>
            <p>Благодарные клиенты говорят</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="lms_testimonials_bg" data-stellar-background-ratio="0.5">
          <div class="lms_testimonials_bg2">
            <div class="container">
              <div class="lms_testimonials wow bounce">
                <div id="lms_testimonials_slider" class="owl-carousel owl-theme">
                  
                    {% for review in reviews %}
                        <div class="lms_testimonials_slider_item">
                            <p class="lms_testimonial_quote">"</p>
                            <p class="lms_testimonials_txt">{{ review.description|safe }}</p>
                            <img src="/media/{{ review.image }}" alt="Testimonials" />
                            <h4>{{ review.name }}</h4>
                        </div>
                    {% endfor %}

                </div>
                <div class="customNavigation"> <a class="lms_prev_next prev"><i class="fa fa-angle-left"></i></a> <a class="lms_prev_next next"><i class="fa fa-angle-right"></i></a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Testimonials end-->
    </div>
{% endblock %}

{% block partners %}


{#    blok princip#}

     <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="lms_title_center">
                    <div class="lms_heading_1">
                        <h2 class="lms_heading_title">Как мы работаем</h2>
                    </div>
                    <p>Этапы ремонта вашего устройств</p>
                </div>
            </div>
        </div>

        <div class="row prise_im_block">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-md-3 col-md-6 prise_im">
                    <img  src="{% static "idoctor/images/icon/priem.png" %}">
                    <h4>Принимаем технику</h4>
                    <p>Вы приносите к нам Ваше устройство</p>
                </div>

                <div class="col-md-3 col-md-6 prise_im">
                    <img  src="{% static "idoctor/images/icon/diagnost.png" %}">
                    <h4>Проводим бесплатную диагностику</h4>
                    <p>Инженеры диагностируют поломку совершенно бесплатно и сообщают вам по телефону причину неисправности.</p>
                </div>

                <div class="col-md-3 col-md-6 prise_im">
                    <img  src="{% static "idoctor/images/icon/soglas.png" %}">
                    <h4>Согласовываем с вами стоимость и сроки ремонта</h4>
                    <p>Вы самостоятельно принимаете решение о необходимости ремонта.</p>
                </div>

                 <div class="col-md-3 col-md-6 prise_im">
                    <img  src="{% static "idoctor/images/icon/tick.png" %}">
                    <h4>Устройство готово</h4>
                     <p>Также вы получаете гарантию на нашу работу — 1 месяц.</p>
                </div>
            </div>
        </div>


     <!--Our Top Experts Team start-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="lms_title_center">
                    <div class="lms_heading_1">
                    <h2 class="lms_heading_title">Мы ценим ваше время</h2>
                    </div>
                     <p>Благодаря большому опыту, наши специалисты могут диагностировать проблему в считанные минуты</p>
                </div>
            </div>
        </div>
      <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="lms_experts_team_image" id="lms_experts_team_image11">
                    <img class="img-responsive" src= "{% static "idoctor/images/remont_iphone_6.jpg" %}"  alt="iphon" />
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="lms_experts_team_detail" id="lms_experts_team_detail11">
                    <ul class="repair__list">
                        <li class="fa fa-check-circle-o"></li><p><span>Скорость.</span> Большинство ремонтов мы выполняем в течение часа. На сложные ремонты нам нужно не более 5 дней.</p>
                        <li class="fa fa-check-circle-o"></li><span>Качество.</span> Все наши инженеры прошли подготовку по программе Apple Technician и имеют необходимые сертификаты.</p>
                        <li class="fa fa-check-circle-o"></li><p><span>Надежность.</span> На все ремонты распространяется гарантия. Вы всегда знаете к кому обратится.</p>
                        <li class="fa fa-check-circle-o"></li><p><span>Дружелюбность.</span> Мы любим наших клиентов, вы всегда сможете уточнить любой вопрос у наших сотрудников. А во время ремонта вашего устроуства вам предложат вкусного кофя</p>
                        <li class="fa fa-check-circle-o"></li><p><span>Оригинальные запчасти.</span> Ваш iPhone будет работать долго и надежно.</p>
                    </ul>
                </div>
            </div>
      </div>
    </div>
      <!--Our Top Experts Team end-->

{#    <!--Our Partners start-->#}
{#    <div class="container">#}
{#      <div class="row">#}
{#        <div class="col-lg-12 col-md-12 col-sm-12">#}
{#          <div class="lms_title_center">#}
{#            <div class="lms_heading_1">#}
{#              <h2 class="lms_heading_title">Our Partners</h2>#}
{#            </div>#}
{#            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#      <div class="row">#}
{#        <div class="col-lg-12 col-md-12 col-sm-12">#}
{#          <div class="lms_our_partner">#}
{#            <div id="lms_our_partner_slider" class="owl-carousel owl-theme">#}
{#              <div class="lms_our_partner_slider_item">#}
{#                <div class="lms_our_partner_item"> <img src="images/partner/partner1.png" alt="partner" />#}
{#                  <hr/>#}
{#                  <p class="quote">"</p>#}
{#                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing#}
{#                    elit. Integer et commodo metus. Praesent quis risus#}
{#                    blandit, aliquam diam non, facilisis magna. </p>#}
{#                  <p class="quote">"</p>#}
{#                </div>#}
{#              </div>#}
{#              <div class="lms_our_partner_slider_item">#}
{#                <div class="lms_our_partner_item"> <img src="images/partner/partner2.png" alt="partner" />#}
{#                  <hr/>#}
{#                  <p class="quote">"</p>#}
{#                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing#}
{#                    elit. Integer et commodo metus. Praesent quis risus#}
{#                    blandit, aliquam diam non, facilisis magna. </p>#}
{#                  <p class="quote">"</p>#}
{#                </div>#}
{#              </div>#}
{#              <div class="lms_our_partner_slider_item">#}
{#                <div class="lms_our_partner_item"> <img src="images/partner/partner3.png" alt="partner" />#}
{#                  <hr/>#}
{#                  <p class="quote">"</p>#}
{#                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing#}
{#                    elit. Integer et commodo metus. Praesent quis risus#}
{#                    blandit, aliquam diam non, facilisis magna. </p>#}
{#                  <p class="quote">"</p>#}
{#                </div>#}
{#              </div>#}
{#              <div class="lms_our_partner_slider_item">#}
{#                <div class="lms_our_partner_item"> <img src="images/partner/partner1.png" alt="partner" />#}
{#                  <hr/>#}
{#                  <p class="quote">"</p>#}
{#                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing#}
{#                    elit. Integer et commodo metus. Praesent quis risus#}
{#                    blandit, aliquam diam non, facilisis magna. </p>#}
{#                  <p class="quote">"</p>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#            <div class="customNavigation"> <a class="lms_prev_next prev"><i class="fa fa-angle-left"></i></a> <a class="lms_prev_next next"><i class="fa fa-angle-right"></i></a> </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#    <!--Our Partners end-->#}
{% endblock %}