{% extends "main.html" %}
{% load static from staticfiles %}
{% load header_tags %}
{% load sitetree %}


{% block slider %}
{% endblock %}



{% block content %}

  <style>
  div.lms_page_title{
    display: none;
  }
</style>


  <div id="page_wrap">
    {% if description0 %}
      <div class="description0_wrap">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              {{ description0|safe }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    {% if description %}
      <div class="description_wrap">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              {{ description|safe }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}


    {% if description2 %}
      <div class="description2_wrap">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              {{ description2|safe }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

  </div>



{% endblock %}

{% block slider2 %}
{% endblock %}

{% block partners %}
{% endblock %}