{% extends "main.html" %}
{% load static from staticfiles %}
{% load header_tags %}
{% load cropping %}


{% block slider %}
{% endblock %}


{% block content %}
    <!--main container start-->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="lms_title_center">
        <div class="lms_heading_1">
          <h2 class="lms_heading_title">{{ service.name }}</h2>
        </div>
        <div class="service-description">{{ service.description|safe }}</div>
      </div>
    </div>
  </div>

  <div class="row">
    {% for step in service.get_steps %}
        {% cycle 'left' 'right' as side silent %}
        {% if side == 'left' %}
            <div class="lms_service_left">
                <div class="col-lg-2 col-md-2 col-sm-3">
                    <div class="lms_service_count">
                      <h1>0{{ forloop.counter }}</h1>
                      <p>этап</p>
                    </div>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-9">
                    <div class="lms_service_detail">
                        <h3>{{ step.name }}</h3>
                        <p>{{ step.description|safe }}</p>
                        <div class="row">
                        {% for image in step.get_images %}
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="lms_hover_section">
{#                                    <img src="{{ image.url }}" alt="service image">#}
                                    <img  src="{% cropped_thumbnail image "cropping" scale=1 %}">
                                    <div class="lms_hover_overlay"><a class="lms_image_link" data-gal="prettyPhoto[gallery2]" href="{{ image.url }}"></a></div>
                                </div>
                            </div>
                        {% endfor %}
                      </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="lms_service_right">
              <div class="col-lg-10 col-md-10 col-sm-9">
                <div class="lms_service_detail">
                    <h3>{{ step.name }}</h3>
                    <p>{{ step.description|safe }}</p>
                    <div class="row">
                    {% for image in step.get_images %}
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="lms_hover_section"> <img  src="{% cropped_thumbnail image "cropping" scale=1 %}">
                                <div class="lms_hover_overlay"><a class="lms_image_link" data-gal="prettyPhoto[gallery2]" href="{{ image.url }}"></a></div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-3">
                <div class="lms_service_count">
                  <h1>0{{ forloop.counter }}</h1>
                  <p>этап</p>
                </div>
              </div>
            </div>
        {% endif %}

      {% endfor %}

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="lms_title_center">
        <div class="lms_heading_1">
          <h2 class="lms_heading_title">Если у Вас есть вопрос, у нас есть ответ</h2>
        </div>
        <p>Мы всегда рады ответить не все Ваши вопросы.</p>
      </div>
    </div>
  </div>

    <div class="row">
        <form method="post" action="" class="lms_contact_form">{% csrf_token %}
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                        <p style="color:red">{{ form.name.errors }}</p>
                        {{ form.name }}
                    </div>
                    <div class="form-group">
                        <p style="color:red">{{ form.phone.errors }}</p>
                        {{ form.phone }}
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                        <p style="color:red">{{ form.text.errors }}</p>
                        {{ form.text }}
                    </div>
                </div>
                <input type="submit" id="em_sub" class="btn btn-default pull-right" value="Отправить"/>
            </div>
        </form>
    </div>


</div>
</div>
{% endblock %}

{% block slider2 %}
{% endblock %}

{% block partners %}
{% endblock %}
