{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <link rel="stylesheet" href="{% static "idoctor/css/bootstrap.min_google_optimized.css" %}" media="screen"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&amp;subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <title>{{ title }}</title>
    <meta name="description"  content="{{ description }}"/>
    <meta name="keywords" content="{{ keywords }}">


    <link rel="stylesheet" href="{% static "idoctor/css/style.min.css" %}" media="screen"/>
  </head>
  <body>

    {% if zakaz_message %}
      <div class="review_message">
        {{ zakaz_message }}
      </div>
    {% else %}
      <form id="uslov_dost_obsudit_form" action="" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="form-group">
          <input class="form-control" id="phone" name="name" placeholder="Ваше имя" type="text" required/>
        </div>
        <div class="form-group">
          <input class="form-control" id="phone" name="phone" placeholder="Ваш номер телефона" type="text" required />
        </div>
        <div class="form-group">
          <input class="form-control" id="phone" name="city" placeholder="Ваш город" type="text" required/>
        </div>
        <div class="box-footer text-center">
          <button type="submit" id="uslov_dost_obsudit_submit" class="zakaz_zvonok_submit btn btn-primary">Отправить</button>
        </div>
      </form>
    {% endif %}

  </body>
</html>